<div class="card m-3 card-animazione" style="width: 20rem;">
    <div class="card-body">
        <p class="card-text">{{utente.cell}}</p>
        <p class="card-text">{{utente.email}}</p>
        <p class="card-text">{{utente.gender}}</p>
        <p class="card-text">{{utente.nat}}</p>
        <p class="card-text" >{{utente.phone}}</p>   
    </div>
    Inserisci il numero: <input type="text" [(ngModel)]="cell">
    <button class="btn btn-danger" (click)="mandaDati()">Invia Dati</button>
</div>
